<div align="center">
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
  <a href="welcome">Return to Welcome Page</a>
    <h2>
      Sign Up
    </h2>

    <form action="/insert_user" method="post">
      <div class="form-group">
        <label for="email_box">
          Email
        </label>

        <input type="email" id="email_box" name="email_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="password_box">
          Password
        </label>

        <input type="text" id="password_box" name="password_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="phone_number_box">
          Phone number
        </label>

        <input type="number" id="phone_number_box" name="phone_number_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Sign Up
      </button>
    </form>
  </div>
</div>


<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Phone number
        </th>

        <th>
          Role
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>

        <td>
          <%= user.email %>
        </td>

        <td>
          <%= user.password %>
        </td>

        <td>
          <%= user.phone_number %>
        </td>

        <td>
          <%= user.role %>
        </td>

        <td>
          <%= time_ago_in_words(user.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(user.updated_at) %> ago
        </td>

        <td>
           <%= link_to 'Delete', users_path(user), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
<hr>

