<div align="center">
<div class="row mb-3">
  <div class="col-md-12">
    <a href="welcome">Return to Welcome Page</a>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new pill
    </h2>

    <div class="container">

    <form action="/insert_pill" method="post">


      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name_from_query" class="form-control" placeholder="Pill Name">
      </div>

        <div class="form-group">
          <label for="pill_time_box">
            Pill time
          </label>

          <input type="time" id="pill_time_box" name="pill_time_from_query" class="form-control" placeholder="00:00">
        </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="description_from_query" class="form-control" placeholder="What does this pill do?">
      </div>

      </div>
      <button class="btn btn-block btn-outline-secondary cpill">
        Add Pill to Pill Time!
      </button>
    </form>
    
  </div>
</div>


<hr>
    <h1>
      List of all pills
    </h1>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Pill Number
        </th>


        <th>
          Name
        </th>

        <th>
          Pill Time
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        Remove Pill
        </th>
      </tr>

      <% @pills.each do |pill| %>
      <tr>
        <td>
          <%= pill.id %>
        </td>

        <td>
          <%= pill.name %>
        </td>

        <td>
          <%= pill.pill_time %>
        </td>

        <td>
          <%= pill.description %>
        </td>

        <td>
          <%= time_ago_in_words(pill.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(pill.updated_at) %> ago
        </td>

        <td>
        <%= link_to 'Destroy', pills_path(pill), :confirm => 'Are you sure?', :method => :delete %>


      </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
<hr>
