<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Pill #<%= @pill.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/pills" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_pill/<%= @pill.id %>" class="btn btn-block btn-outline-secondary">
          Delete pill
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @pill.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @pill.name %>
      </dd>

      <dt>
        Pill time
      </dt>
      <dd>
        <%= @pill.pill_time %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @pill.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pill.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pill.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit pill
    </h2>

    <form action="/modify_pill/<%= @pill.id %>"  method="post" >
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control" value="<%= @pill.user_id %>">
      </div>

      <div class="form-group">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="name_from_query" class="form-control" value="<%= @pill.name %>">
      </div>

      <div class="form-group">
        <label for="pill_time_box">
          Pill time
        </label>

        <input type="text" id="pill_time_box" name="pill_time_from_query" class="form-control" value="<%= @pill.pill_time %>">
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="description_from_query" class="form-control" value="<%= @pill.description %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update pill
      </button>
    </form>
  </div>
</div>

<hr>
