<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all grateful reminders
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new grateful reminder
    </h2>

    <form action="/insert_grateful_reminder" method="post">
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="message_sent_box">
          Message sent
        </label>

        <input type="text" id="message_sent_box" name="message_sent_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create grateful reminder
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Message sent
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @grateful_reminders.each do |grateful_reminder| %>
      <tr>
        <td>
          <%= grateful_reminder.id %>
        </td>

        <td>
          <%= grateful_reminder.user_id %>
        </td>

        <td>
          <%= grateful_reminder.message_sent %>
        </td>

        <td>
          <%= time_ago_in_words(grateful_reminder.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(grateful_reminder.updated_at) %> ago
        </td>

        <td>
          <a href="/grateful_reminders/<%= grateful_reminder.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
